---
layout: layouts/page
title: home
---

<section class="welcome-card">
	<div>
		<h1 class="underline-styled-header">Welcome</h1>
		<p>Hey 👋 I'm Amy</p>
		<p>I'm a front-end developer</p>
		<p class="stand-out">My goal is to create useful resources for developers</p>
		<p>This is my personal portfolio and blog</p>
		<p>Enjoy ✨</p>
	</div>
	<div class="headshot-container">
		<img class="headshot" src="/assets/img/square-headshot.png" alt="My headshot"/>
	</div>
</section>